
body{
  margin:0;
  padding:0;
  min-height: 100vh;
  /* background: rgb(2,0,36); */
  background-color: #FFF8E8;
}

*{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}
button, input{
  color: black;
}

#root{
  min-height: 100vh;
}